<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TigerCheck.Properties.Settings.TigerCheckProductionConnectionString"
            connectionString="Data Source=tcp:172.17.72.79;Initial Catalog=TigerCheckProduction;User ID=sa;Password=kidcheck2010"
            providerName="" />
    </connectionStrings>
</configuration>